esptool==3.3
# For v4+ of esptool, We need to use my version of esptool, as the "esptool.py" utility file creates issues with PyInstaller
# git+https://github.com/thorrak/esptool.git@v41_noutil
wxPython
# Previously PyInstaller 3.4 was used - this has security vulnerabilities per GitHub
PyInstaller==5.2
requests==2.28.1
pyserial==3.5
