on:
  push:
    branches:
      - master


jobs:
  build:
    runs-on: 'windows-latest'

    steps:
    - uses: actions/checkout@v3.5.3
    - uses: actions/setup-python@v4.6.1
      with:
        python-version: '3.9'

    - run: pip install -r requirements.txt
    - name: rebuild bootloader
      run: |
        pip install wheel
        pip uninstall -y pyinstaller
        git clone https://github.com/pyinstaller/pyinstaller
        cd pyinstaller
        cd bootloader
        python3 ./waf distclean all
        cd ..
        pip install .
        cd ..
    - run: python3 compile_languages.py locales
    - run: pyinstaller --log-level=DEBUG --noconfirm build-on-win.spec
    # Optionally verify that it works (provided that it does not need user interaction)
#    - run: ./dist/your-code/your-code
    - uses: actions/upload-artifact@v2
      with:
        path: dist/*